<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./mainTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">


	BIK
         <h:outputText value="Login" />
        <p:inputText />
        <h:outputText value="Hasło" />
        <p:password id="password" value="#{passwordView.password2}"/>
</ui:define>

	<ui:define name="bottom">
        
    </ui:define>

</ui:composition>