<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
      <!--xmlns:sec="http://www.springframework.org/security/tags">-->

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="//maps.google.com/maps/api/js?sensor=false"
        type="text/javascript"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script
        src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <link rel="stylesheet"
              href="#{request.contextPath}/resources/css/font-awesome.min.css" />
        <!--link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/-->
        <h:outputStylesheet library="css" name="font-awesome.css" />
        <link rel="stylesheet"  href="#{request.contextPath}/resources/css/style.css" title="default"/>
        <link rel="stylesheet"  href="#{request.contextPath}/resources/css/style_alt.css" title="alternate"/>
        <title>BIK v.1.0.02022015!</title>
        <script type="text/javascript">
            PrimeFaces.locales['pl'] = {
                uploadText : 'Wyślij'
                closeText: 'Zamknij',
                prevText: 'Poprzedni',
                nextText: 'Następny',
                currentText: 'Bieżący',
                monthNames: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
                monthNamesShort: ['Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru'],
                dayNames: ['Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'],
                dayNamesShort: ['Nie', 'Pon', 'Wt', 'Śr', 'Czw', 'Pt', 'So'],
                dayNamesMin: ['N', 'P', 'W', 'Ś', 'Cz', 'P', 'S'],
                weekHeader: 'Tydzień',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: 'r',
                timeOnlyTitle: 'Tylko czas',
                timeText: 'Czas',
                hourText: 'Godzina',
                minuteText: 'Minuta',
                secondText: 'Sekunda',
                currentText: 'Teraz',
                        ampm: false,
                month: 'Miesiąc',
                week: 'Tydzień',
                day: 'Dzień',
                allDayText: 'Cały dzień'
            };
        </script>
    </h:head>

    <h:body>

        <div id="wrap">
            <div id="top">
                <a class="logo"> <h:graphicImage library="images"
                                                 name="eurobroker_logo.png" />
                </a>
                <ui:insert name="top">
<!--                    <sec:authorize access="isAnonymous()">

                        <ul class="nav">
                            <li><h:link outcome="/account/registrationFormClient.xhtml"
                                        value="Klient" /></li>
                            <li><h:link
                                    outcome="/account/registrationFormConsultant.xhtml"
                                    value="Doradca" /></li>
                            <li><h:link
                                    outcome="/account/registrationFormGuarantorSelfEmployed.xhtml"
                                    value="Poręczyciel (jednoosobowa działalność gospodarcza)" /></li>
                            <li><h:link
                                    outcome="/account/registrationFormGuarantorCompany.xhtml"
                                    value="Poręczyciel (spółka)" /></li>
                            <li><h:link
                                    outcome="/account/accountMailConfirmationSendAgain.xhtml"
                                    value=" Wyślij ponownie link aktywacyjny do konta" /></li>
                            <li><a href="http://forum.eurobroker24.pl/">Forum</a>
                            	</li>
                            <li class="css-default"><a href="#" onclick="setActiveStyleSheet('default'); return false;">Widok normalny</a></li>
                            <li class="css-alternate"><a href="#" onclick="setActiveStyleSheet('alternate'); return false;">Kontrast</a></li>
                            <li><h:link outcome="/account/passwordReminder.xhtml"
                                        value="Przypomnij hasło" /></li>
                        </ul>
                    </sec:authorize>

                    <sec:authorize access="hasRole('CLIENT')">
                        <ul class="nav">
                            <li><h:link outcome="/client/profile/index.xhtml">
                                    <i class="fa fa-user"></i>Mój profil</h:link></li>
                            <li><h:link outcome="/account/changeLoggedUserPassword.xhtml">
                                    <i class="fa fa-pencil-square"></i>Zmiana hasła</h:link></li>
                            <li><h:link outcome="/account/disableLoggedUserAccount.xhtml">
                                    <i class="fa fa-times"></i>Dezaktywuj konto</h:link></li>

                            <li><c:if test="#{messagesLinkProviderMB.isUnreadMessages()}">
                                    <h:link outcome="/messages/consolidations/list.xhtml">
                                        <i class="fa fa-envelope"></i>Wiadomości (${messagesLinkProviderMB.getNumberOfUnreadMessages()})</h:link>
                                </c:if> <c:if test="#{!messagesLinkProviderMB.isUnreadMessages()}">
                                    <h:link outcome="/messages/consolidations/list.xhtml">
                                        <i class="fa fa-envelope"></i>Wiadomości</h:link>
                                </c:if></li>
                            <li><a href="http://forum.eurobroker24.pl/"><i class="fa fa-weixin"></i>Forum</a>
                            </li>
                            <li class="css-default"><a href="#" onclick="setActiveStyleSheet('default'); return false;"><i class="fa fa-refresh"></i>Widok normalny</a></li>
                            <li class="css-alternate"><a href="#" onclick="setActiveStyleSheet('alternate'); return false;"><i class="fa fa-refresh"></i>Kontrast</a></li>
                            <li><a href="#{request.contextPath}/j_spring_security_logout">
                                    <i class="fa fa-power-off"></i>Wyloguj
                                </a></li>
                        </ul>
                    </sec:authorize>

                    <sec:authorize access="hasRole('CONSULTANT')">
                        <ul class="nav">
                            <li><h:link outcome="/consultant/profile/index.xhtml">
                                    <i class="fa fa-user"></i>Mój profil</h:link></li>
                            <li><h:link outcome="/account/changeLoggedUserPassword.xhtml">
                                    <i class="fa fa-pencil-square"></i>Zmiana hasła</h:link></li>
                            <li><h:link outcome="/account/disableLoggedUserAccount.xhtml">
                                    <i class="fa fa-times"></i>Dezaktywuj konto</h:link></li>

                            <li><c:if test="#{messagesLinkProviderMB.isUnreadMessages()}">
                                    <h:link outcome="/messages/consolidations/list.xhtml">
                                        <i class="fa fa-envelope"></i>Wiadomości (${messagesLinkProviderMB.getNumberOfUnreadMessages()})</h:link>
                                </c:if> <c:if test="#{!messagesLinkProviderMB.isUnreadMessages()}">
                                    <h:link outcome="/messages/consolidations/list.xhtml">
                                        <i class="fa fa-envelope"></i>Wiadomości</h:link>
                                </c:if></li>
                            <li><a href="http://forum.eurobroker24.pl/"><i class="fa fa-weixin"></i>Forum</a>
                            	</li>
                            <li class="css-default"><a href="#" onclick="setActiveStyleSheet('default'); return false;"><i class="fa fa-refresh"></i>Widok normalny</a></li>
			    <li class="css-alternate"><a href="#" onclick="setActiveStyleSheet('alternate'); return false;"><i class="fa fa-refresh"></i>Kontrast</a></li>
                            <li><a href="#{request.contextPath}/j_spring_security_logout"><i
                                        class="fa fa-power-off"></i>Wyloguj</a></li>
                        </ul>
                    </sec:authorize>


                    <sec:authorize access="hasRole('GUARANTOR')">
                        <ul class="nav">
                            <li><h:link outcome="/guarantor/index.xhtml">
                                    <i class="fa fa-user"></i>Mój profil</h:link></li>
                            <li><h:link outcome="/account/changeLoggedUserPassword.xhtml">
                                    <i class="fa fa-pencil-square"></i>Zmiana hasła</h:link></li>
                            <li><h:link outcome="/account/disableLoggedUserAccount.xhtml">
                                    <i class="fa fa-times"></i>Dezaktywuj konto</h:link></li>
                            <li><c:if test="#{messagesLinkProviderMB.isUnreadMessages()}">
                                    <h:link outcome="/messages/consolidations/list.xhtml">
                                        <i class="fa fa-envelope"></i>Wiadomości (${messagesLinkProviderMB.getNumberOfUnreadMessages()})</h:link>
                                </c:if> <c:if test="#{!messagesLinkProviderMB.isUnreadMessages()}">
                                    <h:link outcome="/messages/consolidations/list.xhtml">
                                        <i class="fa fa-envelope"></i>Wiadomości</h:link>
                                </c:if></li>
                            <li><a href="http://forum.eurobroker24.pl/"><i class="fa fa-weixin"></i>Forum</a>
                            </li>
                            <li class="css-default"><a href="#" onclick="setActiveStyleSheet('default'); return false;"><i class="fa fa-refresh"></i>Widok normalny</a></li>
			    <li class="css-alternate"><a href="#" onclick="setActiveStyleSheet('alternate'); return false;"><i class="fa fa-refresh"></i>Kontrast</a></li>
                            <li><a href="#{request.contextPath}/j_spring_security_logout">
                                    <i class="fa fa-power-off"></i>Wyloguj</a></li>
                        </ul>
                    </sec:authorize>


                    <sec:authorize access="hasRole('MODERATOR')">

                        <ul class="nav">
                            <li><h:link outcome="/moderator/property/profile_properties.xhtml">
                                    <i class="fa fa-user"></i>Mój profil</h:link></li>
                            
                            <li><h:link outcome="/account/changeLoggedUserPassword.xhtml">
                                    <i class="fa fa-pencil-square"></i>Zmiana hasła</h:link></li>
                            <li><a href="http://forum.eurobroker24.pl/"><i class="fa fa-weixin"></i>Forum</a>
                            	</li>        
                            <li class="css-default"><a href="#" onclick="setActiveStyleSheet('default'); return false;"><i class="fa fa-refresh"></i>Widok normalny</a></li>
			    <li class="css-alternate"><a href="#" onclick="setActiveStyleSheet('alternate'); return false;"><i class="fa fa-refresh"></i>Kontrast</a></li>        
                            <li><a href="#{request.contextPath}/j_spring_security_logout"><i
                                        class="fa fa-power-off"></i>Wyloguj</a></li>
                        </ul>

                    </sec:authorize>-->


                </ui:insert>
            </div>
            <div id="content">
                <div id="left">
                    <ui:insert name="left">
<!--                        <sec:authorize access="isAnonymous()">
                            <form action="#{request.contextPath}/static/j_spring_security_check" method="POST">
                                <div class="user-info">
                                    <input type="text" name="j_username" />
                                    <input type="password" id="pass1" styleClass="form-control" name="j_password" />
                                    <input type="submit" value="Zaloguj"/>
                                </div>
                            </form>
                        </sec:authorize>
                        <sec:authorize access="hasRole('GUARANTOR')">
                            <div class="user-info">
                                <span>zalogowany jako</span> <span class="user-name">
                                    <h:outputText value="#{loggedUser.guarantorSelfEmployed.guarantorSelfEmployedData.personName} #{loggedUser.guarantorSelfEmployed.guarantorSelfEmployedData.personSurname}"
                                                  rendered="#{loggedUser.selfEmployedGuarantor}"/>
                                    <h:outputText value="#{loggedUser.guarantorCompany.guarantorData.companyName}"
                                                  rendered="#{!loggedUser.selfEmployedGuarantor}"/>
                                    </span> <span
                                    class="user-role client">poręczyciel</span>

                            </div>
                        </sec:authorize>
                        <sec:authorize access="hasRole('CONSULTANT')">
                            <div class="user-info">
                                <span>zalogowany jako</span> <span class="user-name">
                                    #{loggedUser.user.personalData.name}
                                    #{loggedUser.user.personalData.surname}</span> <span
                                    class="user-role client">doradca</span>
                            </div>
                        </sec:authorize>
                        <sec:authorize access="hasRole('CLIENT')">
                            <div class="user-info">
                                <span>zalogowany jako</span> <span class="user-name">
                                    #{loggedUser.user.personalData.name}
                                    #{loggedUser.user.personalData.surname}</span> <span
                                    class="user-role client">klient</span>
                            </div>
                        </sec:authorize>

                        <sec:authorize access="hasRole('MODERATOR')">
                            <div class="user-info">
                                <span>zalogowany jako</span> <span class="user-name">
                                    #{loggedUser.user.personalData.name}
                                    #{loggedUser.user.personalData.surname}</span> <span
                                    class="user-role client">EFSF/Administartor</span>
                            </div>
                        </sec:authorize>



                        <sec:authorize access="hasRole('CLIENT')">
                            <ul class="sidebar-nav">
                                <li><h:link outcome="/client/search/insuranceSearch.xhtml">Wyszukiwarka ubezpieczeń
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/client/search/guaranteeSearch.xhtml">Wyszukiwarka poręczeń
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/client/consolidations/search.xhtml">
                                        Konsolidacja ubezpieczeń<i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li>
                                	<h:link outcome="/client/nearestConsultant/index.xhtml" rendered="#{loggedUser.user.address.isAddressFulfill()}">Najbliżsi konsultanci
                                        <i class="fa fa-angle-right"></i>
                                    </h:link>
									 Gdy brak adresu w profilu klienta to przekieruj na profil 
                                    <h:link  outcome="#{nearestConsultantView.redirectToProfile()}"  rendered="#{!loggedUser.user.address.isAddressFulfill()}" >
                                    	Najbliżsi konsultanci
                                        <i class="fa fa-angle-right"></i>
                                    </h:link>
                                </li>
                                <li><h:link outcome="/client/listOfGuaranteeCases.xhtml">Moje sprawy o poręczenie
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/cases/index.xhtml">Moje sprawy<i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/client/collaterals/options.xhtml">Zabezpieczenia kredytu<i class="fa fa-angle-right"></i>
                                    </h:link></li>

                                <li><h:link outcome="/ranking/index.xhtml?type=1">
                                        Ranking poręczycieli<i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/ranking/index.xhtml?type=2">
                                        Ranking doradców<i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/client/calendar.xhtml">Przypomnienia<i class="fa fa-angle-right"></i>
                                    </h:link></li>
                            </ul>
                        </sec:authorize>

                        <sec:authorize access="hasRole('CONSULTANT')">
                            <ul class="sidebar-nav">
                                <li><h:link outcome="/consultant/products.xhtml">Moje produkty
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/consultant/consolidations.xhtml">Moje konsolidacje produktów
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/cases/index.xhtml">Moje sprawy<i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/consultant/payment/index.xhtml">Płatność za abonament
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/consultant/insuranceMarket.xhtml">Giełda
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                 <li><h:link outcome="/ranking/index.xhtml?type=3">Ranking klientów
                                 	  <i class="fa fa-angle-right"></i>
                                 </h:link></li>
                            </ul>
                        </sec:authorize>

                        <sec:authorize access="hasRole('GUARANTOR')">
                            <ul class="sidebar-nav">
                                <li><h:link outcome="/guarantor/products.xhtml">Moje produkty<i
                                            class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/guarantor/listOfGuaranteeCases.xhtml">Moje sprawy<i
                                            class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/ranking/index.xhtml?type=3">Ranking klientów
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                            </ul>
                        </sec:authorize>



                        <sec:authorize access="hasRole('MODERATOR')">
                            <ul class="sidebar-nav">
                                <li><h:link outcome="/moderator/property/invoice_properties.xhtml">Ustawienia faktur<i
                                            class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/moderator/consultants/index.xhtml">Certyfikaty i faktury<i
                                            class="fa fa-angle-right"/>
                                    </h:link></li>
                                <li><h:link outcome="/moderator/banner/edit.xhtml">Ustawienia baneru reklamowego
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                                <li><h:link outcome="/moderator/subscriptionPlan/index.xhtm">Abonamenty
                                        <i class="fa fa-angle-right"></i>
                                    </h:link></li>
                            </ul>
                        </sec:authorize>-->

                    </ui:insert>
                </div>
                <div id="main">
                    <ui:insert name="content">Content</ui:insert>
                    <br />
                    <center>
<!--                        <sec:authorize access="hasAnyRole('CLIENT','ROLE_ANONYMOUS')">
                            <c:if test="#{commercialBannerView.isCommercialBanner()}">
                                <img src="#{commercialBannerView.base64Source}"
                                     alt="#{commercialBannerView.alt}" width="750" height="200" style="margin-bottom: 10px;"/>
                            </c:if>
                        </sec:authorize>-->
                    </center>
                </div>
            </div>
            <div id="bottom">
                <h:graphicImage  value="/resources/images/stopka_biala_full.png"/>
                <!--a class="logo"> <h:graphicImage  value="/resources/images/footer_unia.gif" /></a-->
                <ui:insert name="bottom"></ui:insert>
            </div>
        </div>
        <!--h:outputScript library="javascript" name="jquery-1.11.1.min.js"/-->
        <h:outputScript library="javascript" name="jquery.autosize.min.js" />
        <h:outputScript library="javascript" name="functions.js" />
        <h:outputScript library="javascript" name="styleswitcher.js" />
    </h:body>

</html>

